**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/out
**/.env
**/.env.*
**/Dockerfile*
**/docker-compose*
**/README.md
**/LICENSE
**/*.user
**/*.suo
**/*.sln.docstates
**/TestResults
**/packages
**/*.log
**/logs
**/node_modules
**/.next
**/dist
**/build
**/coverage
**/*.md